<script class=" bg-amber-800">
    document.addEventListener('DOMContentLoaded', function () {
        const header = document.getElementById('header');
        window.addEventListener('scroll', function () {
            if (window.scrollY > 0) {
                header.classList.add('bg-amber-800', 'shadow-md');
            } else {
                header.classList.remove('bg-amber-800', 'shadow-md');
            }
        });

        // Mobile Menu Toggle
        const menuButton = document.getElementById('menu-button');
        const mobileMenu = document.getElementById('mobile-menu');
        menuButton.addEventListener('click', function () {
            mobileMenu.classList.toggle('hidden');
        });
    });
</script>